@media screen and (max-width:1400px) {
	.promo {
		&__title {
			margin-left: 30px;
			margin-bottom: 90px;
		}

		.timer {
			margin-left: 30px
		}
	}

	.about {
		&__img {
			margin-left: 40px;
		}

		&__text {
			margin-left: 90px;
		}

		&__descr {
			max-width: 500px;
			text-align: justify;
		}
	}

	.fast-start {
		&__logo {
			justify-content: center;

			img {
				left: 25%;
			}
		}

		&__title {
			margin-left: 0;
		}

		&__text {
			text-align: center;
		}

		&__result::after {
			width: 280px;
		}

		&__inner {
			margin-left: 40px;
		}

		&__descr {
			margin-left: 40px;
		}

		&__stage {
			max-width: 265px;
		}
	}

	.course {
		&__money-sum::after {
			width: 474px;

		}


		&__btn {
			margin-left: 50px;
		}
	}

	.profession {
		&__cards {
			justify-content: space-around;
		}

		&__title {
			font-size: 22px;
		}

		&__descr {
			text-align: justify;
			max-width: 320px;
			font-size: 14px;
		}
	}

	.partners {
		.container {
			max-width: 1200px;
			margin: 0 auto;

		}

		&__logo {
			justify-content: center;
		}

		&__border-1::before,
		&__border-2::before,
		&__border-3::before {
			display: none;
		}

		&__cards::before {
			display: none;
		}

		&__border-1 {
			margin-left: 20px;
		}
	}

	.teachers {
		&__logo {
			justify-content: center;

			img {
				left: 20%;
			}
		}

		&__title {
			margin-left: 0;
		}

		&__specialists {
			margin-left: 100px;
		}

		&__specialist {
			margin-right: 160px;
		}
	}
}

@media screen and (max-width:1200px) {
	.nav {
		&__list {
			margin-right: -30px;
		}

		&__link {
			margin-right: 30px;
		}
	}

	.promo {
		&__title {
			font-size: 35px;
		}
	}

	.course {
		&__money-sum::after {
			width: 304px;

		}


		&__btn {
			margin-left: 50px;
		}
	}

	.about {
		padding-top: 100px;

		&__img {
			margin-left: 30px;
		}

		&__text {
			margin-left: 50px;
		}

		&__title {
			font-size: 35px;
		}

		&__descr {
			max-width: 350px;
		}
	}

	.fast-start {
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		padding-bottom: 100px;

		&__wrapper {
			display: none;
		}

		&__logo {
			flex-direction: column;
			position: static;

			img {
				position: static;
				max-width: 100%;
				margin-bottom: 50px;
			}
		}

		&__mobile {
			display: block;
		}
	}

	.mobile {
		&__result {
			display: flex;
			flex-direction: column;
		}

		&__result::after {
			content: "";
			display: block;
			width: 820px;
			height: 80px;
			background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
			margin-bottom: 25px;
			order: 2;
		}

		&__result--75::after {
			width: 680px;
		}

		&__result--50::after {
			width: 550px;
		}

		&__result--0::after {
			width: 400px;
		}

		&__descr {
			max-width: 800px;
			margin-bottom: 60px;
			order: 3;
		}

		&__descr--75 {
			max-width: 660px;
		}

		&__descr--50 {
			max-width: 530px;
		}

		&__descr--0 {
			max-width: 380px;
		}

		&__precent {
			margin-bottom: 10px;
		}
	}

	.profession {
		padding-bottom: 5px;

		&__header {
			margin-bottom: 70px;
			font-size: 35px;

			text-align: center;
		}

		.container {
			flex-direction: column;
			display: flex;
			align-items: center;
		}

		&__cards {
			margin-left: 0;
			flex-direction: column;
		}

		&__card {
			position: relative;

			img {
				margin-bottom: 30px;
			}
		}

		&__title {
			text-align: justify;
		}

		&__descr {
			max-width: 400px;
			margin-bottom: 80px;
		}

	}

	.partners {
		padding-top: 50px;
		padding-bottom: 50px;

		&__title {
			font-size: 35px;
		}

		&__cards {
			flex-direction: column;
			align-items: center;
		}

		&__border-1 {
			margin-left: 0;
		}

		&__border-1,
		&__border-2,
		&__border-3,
		&__border-0 {
			display: flex;
		}
	}

	.training {
		padding-bottom: 50px;

		&__title {
			font-size: 35px;
		}

		&__logo {
			margin-bottom: 50px;
		}
	}

	.teachers {
		padding-top: 40px;
		padding-bottom: 50px;

		&__title {
			font-size: 35px;
		}

		&__logo {
			img {
				bottom: 25px;
			}
		}

		&__specialists {
			flex-direction: column;
			align-items: center;
			margin: 0;
		}

		&__specialist {
			margin-right: 0;
		}
	}

	.footer {
		padding-top: 30px;

		&__title {
			font-size: 35px;
		}
	}
}

@media screen and (max-width:992px) {
	.nav {
		&__list {
			margin-right: -1px;
		}

		&__link {
			font-size: 12px;
			margin-right: 15px;
		}
	}

	.btn {
		font-size: 12px;
		padding: 10px 20px;
	}

	.course {
		.container {
			flex-direction: column;
			align-items: flex-start;
			margin-left: 150px;

		}

		.btn {
			margin: 0;
			margin-bottom: 20px;
			font-size: 16px;
			padding: 10px 31px;
			order: 2;
			font-size: 20px;
		}

		&__people {
			margin-right: 0;

		}

		&__all-people {
			margin-bottom: 15px;
			font-size: 20px;
		}

		&__people-complete {
			margin-bottom: 15px;
			font-size: 20px;
		}

		&__money-sum {
			font-size: 20px;
		}

		&__money-sum::after {
			height: 10px;
			width: 400px;
		}


		&__money-goal {
			font-size: 20px;
			margin-bottom: 30px;
		}
	}

	.about {
		margin-top: 1100px;

		&__container {
			flex-direction: column;
		}

		&__img {
			margin: 0 auto;
			margin-bottom: 80px;
		}

		&__text {
			margin: 0 auto;
		}

		&__descr {
			max-width: 440px;
		}
	}

	.mobile {

		&__result::after {
			width: 700px;

		}

		&__result--75::after {
			width: 600px;
		}

		&__result--50::after {
			width: 500px;
		}

		&__result--0::after {
			width: 400px;
		}

		&__descr {
			max-width: 630px;
			margin-bottom: 60px;
			order: 3;
			font-size: 12px;
		}

		&__descr--75 {
			max-width: 550px;
		}

		&__descr--50 {
			max-width: 480px;
		}

		&__descr--0 {
			max-width: 380px;
		}

		&__precent {
			font-size: 28px;
		}
	}

	.partners {
		padding-top: 50px;
	}

	.teachers {
		&__logo {
			position: static;
			flex-direction: column;
			align-items: center;

			img {
				display: block;
				max-width: 100%;
				position: static;
				left: 12%;
				margin-bottom: 20px;
			}
		}
	}
}

@media screen and (max-width:768px) {
	.header {
		&__inner {
			justify-content: center;
		}

		.btn {
			display: none;
		}

		.menu {
			display: block;
			z-index: 100;
			position: relative;
			width: 30px;
			height: 18px;
			cursor: pointer;
			bottom: 35px;
			left: 15px;

		}

		.menu {
			&__link {
				display: inline-block;
				color: $white-color;
				margin-bottom: 30px;
				font-size: 24px;
				padding: 30px 30px;
			}

			&__body {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba($color: #000000, $alpha: .7);
				transition: all .5s ease-in-out;
				display: none;
				padding: 100px 40px 40px;
			}

			.show {
				display: block;
				transition: all .9s ease-in-out;
			}

			.invisible {
				display: none;
				transition: all .9s ease-in-out;
			}
		}

		.burger span,
		.burger::before,
		.burger::after {
			left: 0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: 0.5s all ease-in-out;
			background-color: $white-color;
		}

		.burger::before,
		.burger::after {
			content: "";
		}

		.burger::before {
			top: 0;
		}

		.burger::after {
			bottom: 0;
		}

		.burger span {
			top: 50%;
			transform: scale(1) translate(0px, -50%);
		}

		.menu__close span {
			position: relative;
			bottom: 60px;
			left: 100%;
		}

		#click::after,
		#click::before {
			position: absolute;
			left: 15px;
			content: ' ';
			height: 33px;
			width: 2px;
			background-color: $white-color;
			transition: all .5s ease-in-out;
		}

		#click:before {
			transform: rotate(45deg);
		}

		#click:after {
			transform: rotate(-45deg);
		}
	}

	.nav {
		display: none;
	}

	.promo {
		.timer {
			&__item {
				padding: 10px 15px;
			}
		}

		&__title {
			font-size: 28px;
			margin-right: 0;
		}
	}

	.course {
		.container {
			margin-left: 50px;
		}

		
	}

	.fast-start {
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__logo {
			flex-direction: column;
			position: static;

			img {
				position: static;
				max-width: 100%;
				margin-bottom: 50px;
			}
		}

		&__text {
			max-width: 500px;
			margin: 0 auto;
			margin-bottom: 30px;
		}
	}

	.mobile {
		&__inner {
			margin-left: 0;
		}

		&__result::after {
			width: 510px;

		}

		&__result--75::after {
			width: 450px;
		}

		&__result--50::after {
			width: 380px;
		}

		&__result--0::after {
			width: 330px;
		}

		&__descr {
			max-width: 500px;
			margin-bottom: 60px;
			order: 3;
			font-size: 12px;
		}

		&__descr--75 {
			max-width: 500px;
		}

		&__descr--50 {
			max-width: 500px;
		}

		&__descr--0 {
			max-width: 500px;
		}

		&__precent {
			font-size: 28px;
		}
	}

	.partners {
		padding-bottom: 25px;

		&__logo {
			flex-direction: column;
			align-items: center;

			img {
				margin-bottom: 30px;
				max-width: 100%;
			}
		}

		&__title {
			margin-left: 0;
		}

		&__card {
			margin-right: 30px;
		}

		&__border {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	.training {
		padding-top: 25px;
		padding-bottom: 25px;

		&__programm {
			&--left {
				margin-right: 20px;
			}

			&--right {
				margin-left: 20px;
			}
		}
	}

	.teachers {
		padding-top: 25px;
	}
}

@media screen and (max-width:578px) {
	.promo {
		&__title {
			font-size: 26px;
		}

		.timer {
			margin-left: 5px;

			&__item {
				margin-right: 10px;
			}

			&__time {
				font-size: 26px;
			}

			&__descr {
				font-size: 12px;
			}
		}
	}

	.course {
		&__all-people {
			flex-direction: column;
			justify-content: start;

			span {
				margin-left: 0;
				margin-top: 10px;
			}
		}

		&__people-complete {
			flex-direction: column;
			justify-content: start;

			span {
				margin-left: 0;
				margin-top: 10px;
			}
		}

		&__money-sum {
			font-size: 20px;
			display: flex;
			flex-direction: column;

			span {
				margin-left: 0;
				margin-top: 10px;
			}
		}

		

		&__money-sum::after {
			width: 250px;
		}
	}
	.about{
		padding-bottom: 50px;
		&__img{
			padding: 15px;
			img{
				transform: translateY(40px);
			}
		}
		&__descr{
			max-width: 260px;
			font-size: 12px;
		}
		&__title{
			text-align: center;
			font-size: 26px;
		}
	}
	.fast-start{
		&__title{
			font-size: 26px;
		}
		&__text{
			max-width: 260px;
		}
		.mobile{
			&__precent{
				font-size: 26px;
			}
			&__result::after {
				width: 250px;
	
			}
	
			&__result--75::after {
				width: 210px;
			}
	
			&__result--50::after {
				width: 170px;
			}
	
			&__result--0::after {
				width: 130px;
			}
	
			&__descr {
				max-width: 250px;
				margin-bottom: 60px;
				order: 3;
				font-size: 12px;
			}
	
			&__descr--75 {
				max-width: 250px;
			}
	
			&__descr--50 {
				max-width: 250px;
			}
	
			&__descr--0 {
				max-width: 250px;
			}
		}
	}
	.profession{
		&__header{
			font-size: 26px;
		}
		&__title{
			max-width: 260px;
			font-size: 16px;
			text-align: center;
		}
		&__descr{
			font-size: 12px;
			max-width: 250px;
		}
	}
	.partners{
		&__title{
			font-size: 26px;
			text-align: center;
		}
		&__border-3, &__border-0{
			display: none;
		}
	}
	.training{
		&__title{
			font-size: 26px;
		}
		&__call{
			font-size: 12px;
			max-width: 260px;
		}
		&__header{
			font-size: 12px;
		}
		&__header--left{
			text-align: left;
		}
		&__descr{
			font-size: 14px;
			max-width: 140px;
		}
		&__descr--left::after{
			left: 158px;
		}
		&__descr--right::after{
			right: 158px;
		}
		&__descr--right{
			text-align: left;
		}
		&__programm {
			&--left {
				margin-right: 15px;
			}

			&--right {
				margin-left: 15px;
			}
		}
	}
	.teachers{
		&__logo{
			margin-bottom: 70px;
		}
		&__title{
			font-size: 26px;
		}
		&__name{
			font-size: 18px;
		}
		&__descr{
			font-size: 12px;
		}
	}
	.footer{
		&__title{
			font-size: 26px;
		}
		&__descr{
			font-size: 12px;
		}
		&__form{
			position: static;
			width: 250px;
			margin-bottom: 30px;
			input{
				width: 100%;
				border-radius: 50px;
				margin-bottom: 30px;
				font-size: 12px;
			}
		}
		&__btn{
			position: static;
		}
		.social{
			margin-right: 0;
			margin-top: 70px;
			&__icon{
				margin-right: 20px;
			}
		}
	}
}
@media screen and (max-width:320px) {	
	.promo{
		.timer {
			margin-left: 7px;
	
			&__item {
				margin-right: 10px;
				padding: 5px 10px;
			}
	
			&__time {
				font-size: 20px;
			}
	
			&__descr {
				font-size: 10px;
			}
		}
	}
	.course{
		.container{
			margin-left: 25px;
		}
		&__money-sum::after{
			width: 200px;
		}
		&__all-people {
			flex-direction: column;
			justify-content: start;

			span {
				margin-left: 0;
				margin-top: 10px;
			}
		}

		&__people-complete {
			font-size: 16px;

			span {
				margin-left: 0;
				margin-top: 10px;
			}
		}
		&__money-sum{
			font-size: 16px;
		}
		&__money-goal{
			font-size: 16px;
		}
	}
	.about{
		padding-bottom: 10px;
		&__text{
			max-width: 240px;
		}
	}
	.fast-start{
		&__title{
			font-size: 20px;
		}
		&__text{
			font-size: 10px;
		}
		.mobile{
			&__result::after {
				width: 250px;
	
			}
	
			&__result--75::after {
				width: 210px;
			}
	
			&__result--50::after {
				width: 170px;
			}
	
			&__result--0::after {
				width: 130px;
			}
	
			&__descr {
				max-width: 230px;
				margin-bottom: 60px;
				order: 3;
				font-size: 10px;
				text-align: justify;
			}
	
			&__descr--75 {
				max-width: 230px;
			}
	
			&__descr--50 {
				max-width: 230px;
			}
	
			&__descr--0 {
				max-width: 230px;
			}
		}
	}
	.training{
		padding-bottom: 10px;
		&__header{
			font-size: 10px;
		}
		&__descr{
			font-size: 12px;
		}
		&__descr--left::after{
			left: 143px;
		}
		&__descr--right::after{
			right: 143px;
		}
		&__programm {
			&--left {
				margin-right: 10px;
			}

			&--right {
				margin-left: 10px;
			}
		}
	}
	.teachers{
		padding-top: 10px;
		&__title{
			font-size: 20px;
		}
	}
	.footer{
		&__title{
			font-size: 20px;
		}
		.social{
			&__icon{
				margin-right: 15px;
			}
		}
	}
}

