.teachers {
	padding: 60px 0 100px;
	background-image: url("../img/bg/bgc.jpg");

	&__logo {
		display: flex;
		position: relative;
		margin-bottom: 113px;

		img {
			position: absolute;
			transform: rotate(180deg);
			bottom: 30px;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 48px;
		line-height: 140%;
		color: $white-color;
		margin-left: 128px;
	}

	&__specialists {
		display: flex;
		
		flex-wrap: wrap;
	}

	&__specialist {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 260px;
		margin-bottom: 50px;
		img {
			margin-bottom: 40px;
		}
	}
	&__specialist:nth-child(3n){
		margin-right: 0;
	}

	&__name {
		font-weight: 500;
		font-size: 24px;
		line-height: 140%;
		color: $white-color;
		margin-bottom: 15px;
	}

	&__descr {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		color: $white-color;
		opacity: .8;
		margin-bottom: 30px;
	}
	&__biography {
		box-sizing: border-box;
		background-color: #000;
		border: 1px solid #FFFFFF;
		border-radius: 50px;
		padding: 10px 30px;
		color: $white-color;
		transition: .5s all ease-in-out;
	}
	button:hover{
		background-color: #DF5950;
	}
}